@charset "utf-8";
/* @import url('//fonts.googleapis.com/earlyavvess/notosanskr.css'); */

html,body {height: 100%; font-family:"Noto Sans KR",dotum,sans-serif;color:#111;font-weight:normal;-webkit-text-size-adjust:none;-moz-text-size-adjust:none;-ms-text-size-adjust:none;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust: none;letter-spacing:-1px; }
body {font-size: 14px;}
body,div,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,form,fieldset,legend,button,p,pre,blockquote,menu,figure,input {margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption {display:block;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,legend,select,input,textarea,p,blockquote,th,td,menu,button,a,span,strong,label,header,footer,section,article,aside,nav,hgroup,details,figure,figcaption {word-break:break-word;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-ms-box-sizing:border-box;}
h1,h2,h3,h4,h5,h6,input,select,textarea,button,option {color:inherit;font-family:"NanumSquare","맑은 고딕","돋움",dotum,sans-serif;font-size:inherit;font-weight:normal;}
pre,code,samp,kbd {font-family:inherit;} 
h1,h2,h3,h4,h5,h6,strong,b,th {font-weight:bold;} 
em,var,address {font-style:normal;} 
ul,ol,li {list-style:none;}  
legend,fieldset,button,img {border:0 none;} 
input,select,textarea,button,label,strong,a,time {vertical-align:inherit;}
input,select,textarea,button,option {font-family:inherit;font-weight:inherit;}
input,select,textarea {appearance:none;-webkit-appearance:none;} 
input[type="text"]::-webkit-search-cancel-button {appearance:none;-webkit-appearance:none;} 
button,select,option {color:inherit;text-transform:none;} 
textarea {resize:none;}
caption,legend {text-indent:-5000px;font-size:1px;line-height:0;width:1px;height:1px;overflow:hidden;opacity:0;color:transparent;} 
table {table-layout:fixed;width:100%;border-collapse:collapse;border-spacing:0;} 
img {vertical-align:top;}
button {padding: 0; margin: 0; background:none;text-align:left;cursor:pointer;overflow:visible;} 
a {display:inline-block; color: #111; text-decoration:none;}
*:focus {outline:1;}
*:focus {-webkit-tap-highlight-color:rgba(0,0,0,0) !important;-webkit-focus-ring-color: transparent !important;outline:none;}/* 안드로이드버전 포커스 숨김 처리 */

header {
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #343a40;
}

header .area {
	margin: 0 auto;
	width: 1024px;
	overflow: hidden;
}

header h1 {
	float: left;
}

header h1 a {
	font-size: 24px;
	font-weight: bold;
	color: #fff;
}

header nav {
	margin-left: 190px;
	float: left;
}

header nav li {
	margin-left: 70px;
	display: inline-block;
}

header nav li:first-child {
	margin-left: 0;
}

header nav li a {
	text-align: center;
	color: #dadada;
}
header nav li a.active {
	font-weight: bold;
	color: #fff;
}

header .util {
	float: right;
}

header .util a {
	padding: 0 5px;
	color: #fff;
	font-size: 13px;
}

section {
	padding-bottom: 100px;
}

section .img {
	margin: 0 auto;
	padding-top: 100px;
	width: 1000px;
	text-align: center;
}

section .img img {
	width: 100%;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 15px 0;
	width: 100%;
	color: #bababa;
	text-align: center;
	font-size: 12px;
	line-height: 17px;
	background-color: #343a40;
}

footer a {
	color: #bababa;
}